.action-button {
    padding: 3px 5px 3px 5px;
    margin-bottom: 6px;
}

.not-sortable {
    cursor: auto !important;
}

.suggest-button {
    margin-top: 4px;
}

.suggest-list {
    margin-top: 2px !important;
}

.suggest-message {
    color: #cc0000;
    padding: 4px 0 4px 2px;
}

.cy-popup-link {
    font-size: 14px;
}

.cy-popup-link:hover::before {
    color: #557900;
}

.relationship-editor-popup {
    position: relative;
    background: #FFF;
    padding: 10px 50px 10px 10px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid #c41130;
    font-size: 16px;
}

.item-preview {
    list-style-type:none;
    margin-left:12px;
    padding-left:0;
}

.item-preview a {
    font-family: "Roboto Condensed",sans-serif;
}

.item-preview a:link {
    color: #c76941;
    text-decoration: none;
}

.item-preview a:visited {
    color: #c76941;
}

.item-preview a:hover {
    color: #e57f52;
}

.item-preview a:active {
    color: #c76941;
}

.item-preview.cover-image img,
.item-preview.cover-image .item-img {
    width: auto;
}

.item-preview .element-text {
    line-height: 18px;
    margin:4px 0;
    padding-left: 6px;
    padding-bottom: 6px;
}

.item-preview .item-img {
    margin-top: 2px;
    max-height:165px;
    vertical-align:middle;
    width:165px;
}

.item-preview .item-img img {
    background: #fff;
    border: 1px solid #ccc;
   	box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.25);
    box-sizing:border-box;
    max-height: 155px;
    max-width: 100%;
    padding: 2px;
}

.item-preview li {
    width:165px;
    display:inline-block;
    vertical-align:top;
    margin:0 18px 0 0;
}

#related-items-graph h2 {
    margin-bottom: 0;
}

#related-items {
	clear: both;
}

.related-items-see-all a {
    background-color:#2E5D78;
}

.related-items-show-more a {
    background-color:#7ea115;
}

.related-items-show-more a:link {
    color: #c76941;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.related-items-see-all a,
.related-items-show-more a {
    color:#fff !important;
    padding: 4px 6px 4px 6px;
}

.related-items-see-all,
.related-items-show-more {
    margin-left: 0;
    clear: both;
}

#related-items ul {
    padding-left:0;
    margin-left:0;
    list-style-type:none;
}

.related-items-section-name {
    color: #444;
    font-size: 16px;
    font-weight:bold;
    margin-bottom: 8px;
    border-bottom: 2px solid #777;
}

.related-items-subsection-header {
    color: #777;
    position: relative;
}

.related-items-subsection .item-preview li {
	margin-right: 12px;
	width: 120px;
}

.related-items-subsection {
    padding-left: 16px;
}

.related-items-subsection p {
    color: #777;
    font-size: 14px;
    border-bottom: 2px solid #ccc;
}

.related-items-subsection .item-preview .item-img {
	max-height: 130px;
	width: 120px;
}

.related-items-subsection .item-preview .item-img img {
	max-height: 120px;
}

.relationship-rule {
    margin-top: 8px;
}

.relationship-rule span {
    font-weight: bold;
}

.relationship-rule div {
    font-family: "Courier New";
    background-color: #eee;
}

#xrelated-items-graph h2 {
	margin: 16px 0 0 0;
    padding: 0;
}

#relationship-items-list li {
    margin-bottom: 6px;
}

#relationship-items-list .sortable-item {
    padding: 4px 10px 4px 10px;
}

#relationship-items-list .drawer-contents td {
    border: none;
    padding: 4px 4px 4px 4px;
}

#relationship-items-list .drawer-contents select {
    padding-bottom: 4px;
    margin-bottom: 8px;
}

#relationship-items-list .drawer-contents label {
    padding-bottom: 2px;
}

.relationship-rule-title {
    font-weight: bold;
    width: 700px;
    display: inline-block;
}

.relationship-type-title {
    font-weight: bold;
    width: 160px;
    display: inline-block;
}

#relationships-table {
    table-layout: fixed;
}

#relationships-table tr td:first-child {
    width: 30px;
}

#relationships-table tr td {
    word-wrap: break-word;
}

#relationships-table tr:first-child {
    font-weight: bold;
}

/* The button that appears in the upper right corner of the magnific popup.
Override the default green for buttons on hover.
 */
.mfp-close {
    color: #333 !important;
    background: rgba(0, 0, 0, 0);
}

.mfp-close:hover {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
}

/* === CSS for Width less than 844px ===
--------------------------------------------------------- */
@media screen and (max-width: 844px) {

	.related-items-section-name {
		margin-left: 6px;
		padding-left: 12px;
	}

	.related-items-main-section .related-items-section-name {
		margin-left: 0;
		padding-left: 12px;
	}

	.related-items-subsection {
		margin-left: 8px;
	}

	.related-items-subsection-header::after {
		display: none;
	}

	#related-items ul {
		max-width: 100%;
	}

}

/* === CSS for Width less than 768px ===
--------------------------------------------------------- */
@media screen and (max-width: 768px) {

}
